@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #121212;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Force hide the Next.js Development Server Indicator ("N" logo) */
nextjs-portal {
  display: none !important;
}